<?xml version="1.0"?>
<dia_config>
    <site>solr5/portal</site>
    <bvs_url>http://brasil.bvs.br/</bvs_url>
    <about_bvs_url>http://brasil.bvs.br/</about_bvs_url>
    <home_url>http://brasil.bvs.br/</home_url>
    <search_server>srv.bvsalud.org</search_server>
    <photocopy_url>http://scad.bvs.br/php/index.php?identificado=1</photocopy_url>
    <documents_per_page>20</documents_per_page>
    <default_lang>pt</default_lang>
    <log_dir>./logs/</log_dir>
    <environment>production</environment>
    <addthis_pub>bvs.regional</addthis_pub>
    <addthis_buttons>
        <button>facebook</button>
        <button>twitter</button>
        <button>delicious</button>
        <button>google_plusone_share</button>
        <button>favorites</button>
    </addthis_buttons>
    <show_related_docs>false</show_related_docs>
    <show_related_button>true</show_related_button>
    <related_min_score>40</related_min_score>
    <google_analytics_tracking_id>UA-23388639-37</google_analytics_tracking_id>
    <mobile_version>true</mobile_version>
    <search_collection_list>
        <collection>
            <name></name>
            <cluster_items_limit>10</cluster_items_limit>
            <initial_filter>(collection:("06-national/BR" OR "05-specialized") OR db:("LILACS" OR "MEDLINE"))</initial_filter>
            <index_list>
                <index>
                    <name>ALL</name>
                    <prefix></prefix>
                </index>
                <index>
                    <name>TI</name>
                    <prefix>ti</prefix>
                </index>
                <index>
                    <name>AU</name>
                    <prefix>au</prefix>
                </index>
                <index>
                    <name>MH</name>
                    <prefix>mh</prefix>
                </index>
		<index>
			<advanced/>
			<name>MJ</name>
			<prefix>mj</prefix>
		</index>
		<index>
			<advanced/>
			<name>SH</name>
			<prefix>sh</prefix>
		</index>
		<index>
			<name>AB</name>
			<prefix>ab</prefix>
		</index>
		<!-- index>
                    <name>PT</name>
                    <prefix>pt</prefix>
                </index -->
		<index>
			<advanced/>
			<name>DB</name>
			<prefix>db</prefix>
		</index>
		<index>
			<advanced/>
			<name>TA</name>
			<prefix>ta</prefix>
		</index>
		<index>
			<advanced/>
			<name>DA</name>
			<prefix>da</prefix>
		</index>
		<index>
			<advanced/>
			<name>CP</name>
			<prefix>cp</prefix>
		</index>
		<index>
			<advanced/>
			<name>YEAR</name>
			<prefix>year_cluster</prefix>
		</index>
		<index>
			<advanced/>
			<name>LIMIT</name>
			<prefix>limit</prefix>
		</index>
		<index>
			<advanced/>
			<name>CLINICAL_ASPECT</name>
			<prefix>clinical_aspect</prefix>
		</index>
		<index>
			<advanced/>
			<name>TYPE_OF_STUDY</name>
			<prefix>type_of_study</prefix>
		</index>
		<index>
			<advanced/>
			<name>PAIS_AFILIACAO</name>
			<prefix>pais_afiliacao</prefix>
		</index>
		<index>
			<advanced/>
			<name>PAIS_ASSUNTO</name>
			<prefix>pais_assunto</prefix>
		</index>
		<index>
			<advanced/>
			<name>ID</name>
			<prefix>id</prefix>
		</index>
            </index_list>

            <where_list />

            <sort_list>
                 <sort>
                     <name>RELEVANCE</name>
                     <value>weight desc,score desc</value>
                 </sort>
                 <sort>
                     <default_for_empty_query>1</default_for_empty_query>
                     <name>YEAR_DESC</name>
                     <value>da desc</value>
                 </sort>
                 <sort>
                     <name>YEAR_ASC</name>
                     <value>da asc</value>
                 </sort>
            </sort_list>
            <format_list>
                <format>
                    <name>summary</name>
                </format>
                <format>
                    <name>abstract</name>
                </format>
            </format_list>
            <cluster_list>
                <cluster>fulltext</cluster>
                <cluster>tag_brasil</cluster>
                <cluster>collection</cluster>
                <cluster>db</cluster>
                <cluster>mj_cluster</cluster>
                <cluster>type_of_study</cluster>
                <cluster>clinical_aspect</cluster>
                <cluster>ta_cluster</cluster>
                <cluster>limit</cluster>
                <cluster>pais_assunto</cluster>
                <cluster>la</cluster>
                <cluster>year_cluster</cluster>
                <cluster>type</cluster>
            </cluster_list>
        </collection>
    </search_collection_list>
</dia_config>
